html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

map {
  display: block;
  height: 100%;
  width: 79%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#provider-panel{
  border: 2px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 10px;
  background-color: #fff;
  font-family: Roboto;
  width: 65px;
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

#right-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
}

#floating-panel {
background: #fff;
padding: 5px;
font-size: 14px;
font-family: Arial;
border: 1px solid #ccc;
box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
display: none;
}

@media print {
#right-panel {
  float: none;
  width: auto;
}
}