<!DOCTYPE html>
<html ng-app="bahn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Bahn NetzMap</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3FQWoBMRg2FjjTrCYfqhll29vIWIv3VY&libraries=places,geometry,visualization"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="script/script.js"></script>
</head>
  <body ng-controller="formController">
    <input id="origin-input" class="controls" type="text" placeholder="Enter an origin">
    <input id="destination-input" class="controls" type="text" placeholder="Enter a destination">
     <div id="right-panel"></div>
     <map id="map"></map>
     <div id="provider-panel">
       <label ng-repeat="name in names">
          <input type="checkbox" id="providerCheckbox" ng-model="name.selected" ng-click="updateSelection($index,names)" value="{{name.name}}">{{name.name}}</label>
      <br><input type="checkbox" id="lteCheckbox" ng-model="lte.selected" ng-checked="true"><label>LTE</label>
    </div>
   </body>
</html>